<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>11ty + Vite + Sass</title>
  <script src="/main.js" type="module"></script>
  <link rel="stylesheet" href="/app.scss">
  <link rel="icon" type="image/svg+xml" href="/vite.svg">
</head>
<body>
  <h1>11ty + Vite Test</h1>
  <div class="card">
    <h2 class="card__title">Card Title</h2>
    <p>Sourcemaps заработали! 😀</p>
  </div>
</body>
</html>